html, body {
    height:100%;
    width: 100%;
   
    background-color: rgb(148, 191, 207);
    justify-content: center;
}
  
  main{
    display: flex;
    justify-content: center;
    height: 100%;
    /*align-items: center;*/
  
  }
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
  }
  
  .search-box label {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  
  .search-box input[type="text"] {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    /*margin-right: 1rem;*/
  }
  
  .search-box button[type="submit"] {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  /*
  .featured-content{
    padding: 2rem;
  }
  */
  .featured-content {
    justify-content: center;
    align-items: center;
    padding:2rem;
    /*width: 100%;*/
    text-align: center;
    border: 1px solid #281980;
    height:200px;
    padding: 50%, 50%;
  }

  section{
 
    border:1px black;

  }
